.your-dashboard_page_wefoster-license-management {
  
  // Change Header
  .acf-settings-wrap > h2 {
    background: none repeat scroll 0 0 #414951;
    color: #fff;
    margin-left: -22px;
    margin-right: -20px;
    margin-top: -10px;
    padding: 20px;
    z-index: 1;
    border-top: 1px solid darken(@brand-primary, 4%);
  }
  

  // Add Padding for fixed header
  #post {
    /* padding-top: 80px; */
  }
  

  /*   //Let's move the save box to the fixed header
#post-body.columns-2 #postbox-container-1 {

  //position: fixed;
  right: 20px;
  top: 40px;
  width: auto;
  z-index: 10;
  margin: 0;

  .hndle {
    display: none;
  }


  .postbox {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    box-shadow: none;
    min-width: auto;
    position: relative;
    width: auto;
  }


  #major-publishing-actions {
    background: none repeat scroll 0 0 transparent;
    border-top: medium none;
    clear: none;
    padding: 0;
  }
} */
  .acf-settings-wrap > #publishing-action {
    position: fixed;
    right: 30px;
    z-index: 10;
    top: 50px;
  }
  

  //The Welcome Header Message
  #acf-wefoster_license_welcome {
    border: 0;
    background: @brand-secondary;
    color: #fff;
    
    .acf-input {
      line-height: 170%;
      margin-top: -10px;
    }
    

    //Only show our custom content
    .hndle,
    label,
    .handlediv {
      display: none;
    }
  }
  

  .hndle {
    background: @brand-primary;
    color: #fff;
  }
  

  #side-sortables {
    .hndle {
      background: @brand-complimentary;
    }
  }
  

  .update-nag {
    display: none;
  }
}
