//Set some variables
@brand-primary: #414951;
@brand-secondary: #5bc0de;
@brand-complimentary: #41c4ac;

//Import
@import "dashboard.less";
@import "dashboard-iframe.less";
@import "animations.less";
