#adminmenuwrap .toplevel_page_wefoster-dashboard .wp-menu-image {
  background: url("../img/logo-dashboard.png") no-repeat scroll center center / 60% auto rgba(0, 0, 0, 0);
}
#adminmenuwrap .toplevel_page_wefoster-dashboard .wp-menu-image img {
  display: none;
}
#adminmenuwrap .toplevel_page_wefoster-dashboard.wp-menu-open {
  background: #2c8770 !important;
}
#adminmenuwrap .toplevel_page_wefoster-dashboard.wp-menu-open .wp-menu-image {
  background-image: url("../img/logo-dashboard-active.png");
}
#adminmenuwrap .toplevel_page_wefoster-dashboard.wp-menu-open .wp-menu-image img {
  display: none;
}
/*# sourceMappingURL=menu.css.map */