.your-dashboard_page_wefoster-license-management {
  /*   //Let's move the save box to the fixed header
#post-body.columns-2 #postbox-container-1 {

  //position: fixed;
  right: 20px;
  top: 40px;
  width: auto;
  z-index: 10;
  margin: 0;

  .hndle {
    display: none;
  }


  .postbox {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    box-shadow: none;
    min-width: auto;
    position: relative;
    width: auto;
  }


  #major-publishing-actions {
    background: none repeat scroll 0 0 transparent;
    border-top: medium none;
    clear: none;
    padding: 0;
  }
} */
}
.your-dashboard_page_wefoster-license-management .acf-settings-wrap > h2 {
  background: none repeat scroll 0 0 #414951;
  color: #fff;
  margin-left: -22px;
  margin-right: -20px;
  margin-top: -10px;
  padding: 20px;
  z-index: 1;
  border-top: 1px solid #383f46;
}
.your-dashboard_page_wefoster-license-management #post {
  /* padding-top: 80px; */
}
.your-dashboard_page_wefoster-license-management .acf-settings-wrap > #publishing-action {
  position: fixed;
  right: 30px;
  z-index: 10;
  top: 50px;
}
.your-dashboard_page_wefoster-license-management #acf-wefoster_license_welcome {
  border: 0;
  background: #5bc0de;
  color: #fff;
}
.your-dashboard_page_wefoster-license-management #acf-wefoster_license_welcome .acf-input {
  line-height: 170%;
  margin-top: -10px;
}
.your-dashboard_page_wefoster-license-management #acf-wefoster_license_welcome .hndle,
.your-dashboard_page_wefoster-license-management #acf-wefoster_license_welcome label,
.your-dashboard_page_wefoster-license-management #acf-wefoster_license_welcome .handlediv {
  display: none;
}
.your-dashboard_page_wefoster-license-management .hndle {
  background: #414951;
  color: #fff;
}
.your-dashboard_page_wefoster-license-management #side-sortables .hndle {
  background: #41c4ac;
}
.your-dashboard_page_wefoster-license-management .update-nag {
  display: none;
}
.wefoster-dashboard-iframe ul#adminmenu a.wp-has-current-submenu:after,
.wefoster-dashboard-iframe ul#adminmenu > li.current > a.current:after {
  border-right-color: transparent;
}
.wefoster-dashboard-iframe #wpbody-content {
  margin-left: -20px;
  margin-right: -20px;
  padding-bottom: 0;
  width: 100%;
  overflow-x: hidden !important;
  box-sizing: border-box;
}
.wefoster-dashboard-iframe .the-loading-message {
  color: rgba(153, 153, 153, 0.34);
  margin-top: 47px;
  position: relative;
  text-align: center;
  z-index: 0;
}
.wefoster-dashboard-iframe .iframe-wrapper {
  display: inline;
  left: -20px;
  overflow: hidden;
  position: absolute;
  right: 0;
  z-index: 1;
}
.wefoster-dashboard-iframe iframe {
  overflow-x: hidden !important;
  min-height: 95vh;
  width: 100%;
  box-sizing: border-box;
  -webkit-transition: opacity 1s linear;
          transition: opacity 1s linear;
  opacity: 1;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
.wefoster-dashboard-iframe .pre-loader {
  visibility: visible;
}
.wefoster-dashboard-iframe .show-loader {
  position: relative;
  display: block;
  height: 95vh;
  width: 100%;
  visibility: hidden;
  opacity: 0;
}
.wefoster-dashboard-iframe .loading-message {
  visibility: visible;
}
.wefoster-dashboard-iframe .done-loading {
  display: none;
}
.wefoster-dashboard-iframe .pre-loader-message {
  border-radius: 4px;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.wefoster-dashboard-iframe .pre-loader-message h3 {
  bottom: -23px;
  color: #c2c2c2;
  left: 8px;
  position: relative;
  text-align: center;
}
.wefoster-dashboard-iframe .pre-loader-message img {
  display: block;
  height: 50px;
  left: 0;
  margin: auto auto 69px;
  position: relative;
  text-align: center;
  top: 51px;
  width: 50px;
  z-index: 1;
}
.wefoster-dashboard-iframe .update-nag,
.wefoster-dashboard-iframe .updated,
.wefoster-dashboard-iframe #wpfooter {
  display: none;
}
/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in {
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
.fade-in.one {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
/* -- Loading thingy --*/
.loading-dot {
  border-radius: 100%;
  height: 30px;
  width: 30px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  box-shadow: 0 120px 0 0 #41c4ac, 0px -120px 0 0 #41c4ac, 120px 0 0 0 #41c4ac, -120px 0 0 0 #41c4ac, 120px 120px 0 0 #41c4ac, -120px -120px 0 0 #41c4ac, 120px -120px 0 0 #41c4ac, -120px 120px 0 0 #41c4ac;
  -webkit-animation: load 3s infinite linear;
  animation: load 3s infinite linear;
}
@-webkit-keyframes load {
  0% {
    -webkit-transform: translate(0px, 0px), rotate(0deg);
    box-shadow: 0 120px 0 0 #41c4ac, 0px -120px 0 0 #41c4ac, 120px 0 0 0 #41c4ac, -120px 0 0 0 #41c4ac, 120px 120px 0 0 #41c4ac, -120px -120px 0 0 #41c4ac, 120px -120px 0 0 #41c4ac, -120px 120px 0 0 #41c4ac;
  }
  25% {
    box-shadow: 0 120px 0 0 #41c4ac, 0px -120px 0 0 #41c4ac, 120px 0 0 0 #41c4ac, -120px 0 0 0 #41c4ac, -120px -120px 0 0 #41c4ac, 120px 120px 0 0 #41c4ac, -120px 120px 0 0 #41c4ac, 120px -120px 0 0 #41c4ac;
  }
  50% {
    box-shadow: 0 -120px 0 0 #41c4ac, 0px 120px 0 0 #41c4ac, -120px 0 0 0 #41c4ac, 120px 0 0 0 #41c4ac, -120px -120px 0 0 #41c4ac, 120px 120px 0 0 #41c4ac, -120px 120px 0 0 #41c4ac, 120px -120px 0 0 #41c4ac;
  }
  70% {
    box-shadow: 0 0 0 0 #41C4AC,0px 0 0 0 #41C4AC,0px 0 0 0 #41C4AC,0px 0 0 0 #41C4AC, 0 0 0 0 #41C4AC,0px 0 0 0 #41C4AC,0px 0 0 0 #41C4AC,0px 0 0 0 #41c4ac;
  }
  75% {
    box-shadow: 0 0 0 0 #41C4AC,0px 0 0 0 #41C4AC,0px 0 0 0 #41C4AC,0px 0 0 0 #41C4AC, 0 0 0 0 #41C4AC,0px 0 0 0 #41C4AC,0px 0 0 0 #41C4AC,0px 0 0 0 #41c4ac;
    height: 10px;
    width: 10px;
  }
  80% {
    -webkit-transform: translate(0px, 0px) rotate(360deg);
    box-shadow: 0 0 0 0 #41C4AC,0px 0 0 0 #41C4AC,0px 0 0 0 #41C4AC,0px 0 0 0 #41C4AC, 0 0 0 0 #41C4AC,0px 0 0 0 #41C4AC,0px 0 0 0 #41C4AC,0px 0 0 0 #41c4ac;
    background-color: #41c4ac;
    height: 120px;
    width: 120px;
  }
  85% {
    -webkit-transform: translate(0px, 0px) rotate(360deg);
    box-shadow: 0 0 0 0 #41C4AC,0px 0 0 0 #41C4AC,0px 0 0 0 #41C4AC,0px 0 0 0 #41C4AC, 0 0 0 0 #41C4AC,0px 0 0 0 #41C4AC,0px 0 0 0 #41C4AC,0px 0 0 0 #41c4ac;
    background-color: #41c4ac;
    height: 120px;
    width: 120px;
  }
  90% {
    -webkit-transform: translate(0px, 0px) rotate(360deg);
    box-shadow: 0 0 0 0 #41C4AC,0px 0 0 0 #41C4AC,0px 0 0 0 #41C4AC,0px 0 0 0 #41C4AC, 0 0 0 0 #41C4AC,0px 0 0 0 #41C4AC,0px 0 0 0 #41C4AC,0px 0 0 0 #41c4ac;
    background-color: #41c4ac;
    height: 10px;
    width: 10px;
  }
  95 {
    box-shadow: 0 120px 0 0 #41c4ac, 0px -120px 0 0 #41c4ac, 120px 0 0 0 #41c4ac, -120px 0 0 0 #41c4ac, 120px 120px 0 0 #41c4ac, -120px -120px 0 0 #41c4ac, 120px -120px 0 0 #41c4ac, -120px 120px 0 0 #41c4ac;
  }
  100% {
    -webkit-transform: rotate(360deg);
    box-shadow: 0 120px 0 0 #41c4ac, 0px -120px 0 0 #41c4ac, 120px 0 0 0 #41c4ac, -120px 0 0 0 #41c4ac, 120px 120px 0 0 #41c4ac, -120px -120px 0 0 #41c4ac, 120px -120px 0 0 #41c4ac, -120px 120px 0 0 #41c4ac;
  }
}
@keyframes load {
  0% {
    -webkit-transform: translate(0px, 0px), rotate(0deg);
            transform: translate(0px, 0px), rotate(0deg);
    box-shadow: 0 120px 0 0 #41c4ac, 0px -120px 0 0 #41c4ac, 120px 0 0 0 #41c4ac, -120px 0 0 0 #41c4ac, 120px 120px 0 0 #41c4ac, -120px -120px 0 0 #41c4ac, 120px -120px 0 0 #41c4ac, -120px 120px 0 0 #41c4ac;
  }
  25% {
    box-shadow: 0 120px 0 0 #41c4ac, 0px -120px 0 0 #41c4ac, 120px 0 0 0 #41c4ac, -120px 0 0 0 #41c4ac, -120px -120px 0 0 #41c4ac, 120px 120px 0 0 #41c4ac, -120px 120px 0 0 #41c4ac, 120px -120px 0 0 #41c4ac;
  }
  50% {
    box-shadow: 0 -120px 0 0 #41c4ac, 0px 120px 0 0 #41c4ac, -120px 0 0 0 #41c4ac, 120px 0 0 0 #41c4ac, -120px -120px 0 0 #41c4ac, 120px 120px 0 0 #41c4ac, -120px 120px 0 0 #41c4ac, 120px -120px 0 0 #41c4ac;
  }
  70% {
    box-shadow: 0 0 0 0 #41C4AC,0px 0 0 0 #41C4AC,0px 0 0 0 #41C4AC,0px 0 0 0 #41C4AC, 0 0 0 0 #41C4AC,0px 0 0 0 #41C4AC,0px 0 0 0 #41C4AC,0px 0 0 0 #41c4ac;
  }
  75% {
    box-shadow: 0 0 0 0 #41C4AC,0px 0 0 0 #41C4AC,0px 0 0 0 #41C4AC,0px 0 0 0 #41C4AC, 0 0 0 0 #41C4AC,0px 0 0 0 #41C4AC,0px 0 0 0 #41C4AC,0px 0 0 0 #41c4ac;
    height: 10px;
    width: 10px;
  }
  80% {
    -webkit-transform: translate(0px, 0px) rotate(360deg);
            transform: translate(0px, 0px) rotate(360deg);
    box-shadow: 0 0 0 0 #41C4AC,0px 0 0 0 #41C4AC,0px 0 0 0 #41C4AC,0px 0 0 0 #41C4AC, 0 0 0 0 #41C4AC,0px 0 0 0 #41C4AC,0px 0 0 0 #41C4AC,0px 0 0 0 #41c4ac;
    background-color: #41c4ac;
    height: 120px;
    width: 120px;
  }
  85% {
    -webkit-transform: translate(0px, 0px) rotate(360deg);
            transform: translate(0px, 0px) rotate(360deg);
    box-shadow: 0 0 0 0 #41C4AC,0px 0 0 0 #41C4AC,0px 0 0 0 #41C4AC,0px 0 0 0 #41C4AC, 0 0 0 0 #41C4AC,0px 0 0 0 #41C4AC,0px 0 0 0 #41C4AC,0px 0 0 0 #41c4ac;
    background-color: #41c4ac;
    height: 120px;
    width: 120px;
  }
  90% {
    -webkit-transform: translate(0px, 0px) rotate(360deg);
            transform: translate(0px, 0px) rotate(360deg);
    box-shadow: 0 0 0 0 #41C4AC,0px 0 0 0 #41C4AC,0px 0 0 0 #41C4AC,0px 0 0 0 #41C4AC, 0 0 0 0 #41C4AC,0px 0 0 0 #41C4AC,0px 0 0 0 #41C4AC,0px 0 0 0 #41c4ac;
    background-color: #41c4ac;
    height: 10px;
    width: 10px;
  }
  95 {
    box-shadow: 0 120px 0 0 #41c4ac, 0px -120px 0 0 #41c4ac, 120px 0 0 0 #41c4ac, -120px 0 0 0 #41c4ac, 120px 120px 0 0 #41c4ac, -120px -120px 0 0 #41c4ac, 120px -120px 0 0 #41c4ac, -120px 120px 0 0 #41c4ac;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    box-shadow: 0 120px 0 0 #41c4ac, 0px -120px 0 0 #41c4ac, 120px 0 0 0 #41c4ac, -120px 0 0 0 #41c4ac, 120px 120px 0 0 #41c4ac, -120px -120px 0 0 #41c4ac, 120px -120px 0 0 #41c4ac, -120px 120px 0 0 #41c4ac;
  }
}
/*# sourceMappingURL=style.css.map */